<h1>All our flats</h1>
<div class="row">
  <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="card">
      <%= image_tag 'https://source.unsplash.com/300x200/?house' %>
        <div class="pl-3 pr-3 pt-3 bg-light">
          <h3><%= flat.name %></h3>
          <p><%= flat.address %></p>
          <p>
            <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %>  
            <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %>
          </p>
        </div>
        <div class="pl-3 pr-3 pt-3">
          <p>
            <%= link_to 'More info', flat_path(flat), class: 'text-primary'%>
            <%= link_to 'Edit', edit_flat_path(flat), class: 'text-warning' %>
            <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-danger' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>