<h1><%= @flat.name %></h1>
<h4><%= @flat.address %></h4>
<h5>A bit more about this flat...</h5>
<p><%= @flat.description %></p>
<p><i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %></p>
<p><i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %></p>